MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/<database-name>?appName=Cluster0
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
JWT_SECRET=your-secret-key-change-this-in-production
PORT=5000
FIREBASE_SERVICE_ACCOUNT_KEY=path/to/serviceAccountKey.json
FIREBASE_STORAGE_BUCKET=your-project-id.appspot.com