MONGODB_URI=mongodb+srv://notes:notes123@cluster0.pnkcmxt.mongodb.net/notes-sharing?appName=Cluster0
CLOUDINARY_CLOUD_NAME=dt9f1y07w
CLOUDINARY_API_KEY=988531968348285
CLOUDINARY_API_SECRET=rvwUnA2cVdOS40oN5drZTQyAOVc
JWT_SECRET=your-secret-key-change-this-in-production
PORT=5000